.sidebar {
  width: 230px;
  background: #1f2937; /* gris oscuro */
  color: white;  
  padding: 20px;
  height: 100vh;
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.sidebar-item:hover {
  background: #374151;
}

.sidebar-item.active {
  background: #3b82f6;
}
